:root {
    --primary: #00A19D;
    --secondary: #7FC8A9;
    --optional: #CEE5D0;
    --white: #fff;
    --black: #19282F;
    --danger: #D61600;
    --warning: #FFB600;
    --success: #8EE823;
    --gray: #EEEEEE;
    --lighter: #F6FBF4;
}
